/* Global Styles */
body {
  background-color: black;
  font-size: 22px;
  text-align: center;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: seashell;

}
a {
  color: seashell;
}
h2,h3,h4 {
  margin: 0;
  padding: 10px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
/* Header Styles */
nav {
  text-align: right;
  flex-grow: 1;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
header {
  width: 100%;
  position: fixed;
  height: 69px;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  z-index: 1;
}
header img {
  height: 50px;
  padding-left: 10px;
}
